/*腾讯课堂css样式*/


html,a,p,body,ul,li,ol,h3,dl,dt,dd,span,form,input,div,h4{margin:0;padding:0;}
body{font-size:12px;font-family:"微软雅黑";cursor:default;background-color:#fff}

a{text-decoration:none;}
.clear{clear:both;}


/*滚动条宽度*/
::-webkit-srollbar{width:10px;background-color:#dedbde;}

/*轨道样式*/
::-webkit-scrollbar-track{}

/*Handle样式*/
::-webkit-scrollbar-thumb{border-radius:10px;background:rgba(0,0,0,0.2);min-height:28px;}

/*当前窗口未激活的情况下*/
::-webkit-scrollbar-thumb:window-inactive{
    padding-top:100px;
	-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,0.1),inset -1px -1px 0 rgba(0,0,0,0.07);
	background-clip:padding-box;background-color:#dadada;
	min-height:28px;-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
/*hover到滚动条上*/
::-webkit-scrollbar-thumb:vertical:hover{
   background-color:rgba(0,0,0,0.4);
}
/*滚动条按下*/
::-webkit-scrollbar-thumb:vertical:active{
  background-color:rgba(0,0,0,0.5);
}

/*header style*/
#header{width:1200px;height:85px;margin:0 auto;margin-top:15px;}
#header h1{float:left;margin-top:3px;}
#header .search{width:450px;height:36px;float:left;margin-left:220px;border:2px solid #188eee;
                position:relative;}
#header .search input{width:370px;height:30px;border:0;line-height:30px;position:absolute;
                outline:0;color:#545454;font-family:"微软雅黑";left:0;
                font-size:12px;padding:3px 10px;-webkit-writing-mode: horizontal-tb;}
#header .search a{display:inline-block;width:58px;height:36px;position:absolute;right:0;line-height:36px;
                text-align:center;background:#188eee;}
#header .search a i{display:inline-block;width:20px;height:20px;background:url("../images/icon-search-white.png");
                margin-top:9px;margin-left:3px;}
#header .login{height:40px;float:right;color:#dedede;line-height:40px;margin-top:2px;}
#header .login a{color:#333;padding:0 0 0 6px;margin-right:5px;}


/*banner style*/
#banner{width:100%;height:350px;}

/*little-banner style*/
#banner .little-banner{width:1200px;height:50px;position:relative;margin:0 auto;}
#banner .little-banner a{position:absolute;left:220px;padding:0;height:50px;}

 /*big-banner style*/
#banner .big-bg{height:300px;background:#a534d6;}
#banner .big-bg .big-banner{width:1200px;height:300px;margin:0 auto;position:relative;}


#banner .big-bg .big-banner .big-banner-ul{width:220px;height:476px;position:absolute;top:-50px;background:#188eee;}
#banner .big-bg .big-banner .big-banner-ul #course{display:block;width:220px;height:50px;line-height:50px;}
#banner .big-bg .big-banner .big-banner-ul #course i{display:inline-block;width:18px;height:14px;
                            background:url("../images/button.png") no-repeat center;background-position:-126px -163px;
							margin:0 10px -1px 15px;}
#banner .big-bg .big-banner .big-banner-ul .course{text-decoration:none;color:white;font-size:16px;}
#banner .big-bg .big-banner .big-banner-ul .course:hover{text-decoration:underline;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li{list-style:none;width:205px;height:59px;padding-top:12px;padding-left:15px;
                      order-bottom:1px solid #1681c4;background:#0477C0;position:relative;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li:hover{background:#0264a3;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li i{display:inline-block;width:6px;height:12px;position:absolute;
                top:18px;right:16px;background:url("../images/button.png");background-position:-147px -163px;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li:hover i{background-position:-157px -163px;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li .course{line-height:24px;display:block;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li .course-hot{display:inline-block;height:21px;margin-right:8px;
                color:#97d2f7;font-size:14px;margin-top:5px;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li .course-hot:hover{text-decoration:underline;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li .course-list{width:446px;position:absolute;top:0;left:220px;
           z-index:1; background:rgba(255,255,255,0.95);*background:#fff;/*opacity:0.95;filter:alpha(opacity=95);*/
           border:2px solid #09699c;display:none;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li .course-list ul{width:382px;margin:0 auto;list-style:none;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li .course-list ul li{border-bottom:1px solid #e5e5e5;                
                width:382px;padding:15px 0 12px;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li .course-list ul li .course-child{color:#039ae3;font-weight:bold;font-size:14px;
                width:80px;float:left;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li .course-list ul li .course-child-list{width:297px;
                display:inline-block;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li .course-list ul li .course-child-list a{display:inline-block;
                width:91px;height:21px;color:#333;font-size:14px;margin-bottom:3px;}
#banner .big-bg .big-banner .big-banner-ul ul .course-li.course-list ul li .course-child-list a:hover{color:#63b6f7;}


/*big-banner-img style*/
#banner .big-bg .big-banner .big-banner-img{width:760px;height:300px;overflow:hidden;position:absolute;top:0;
                   left:220px;*z-index:-1;}
#banner .big-bg .big-banner .big-banner-img #ban-ul li{list-style:none;float:left;}
#banner .big-bg .big-banner .big-banner-img #ban-ul li .img-show{display:block;}
#banner .big-bg .big-banner .big-banner-img #ban-ul li .img-hide{display:none;}
#banner .big-bg .big-banner .big-banner-img #ban-nav{width:140px;height:24px;position:absolute;bottom:15px;left:50%;
       list-style:none;margin-left:-70px;border-radius:24px;background:rgba(0,0,0,0.1);/*opacity:0.9;filter:alpha(opacity=90);*/}
#banner .big-bg .big-banner .big-banner-img #ban-nav li{float:left;width:10px;height:10px;margin:7px -16px 0 25px;
                background:url("../images/button.png");background-position:-87px -116px;}
#banner .big-bg .big-banner .big-banner-img .ban-button{display:none;width:46px;height:70px;position:absolute;
                top:110px;background:url("../images/button.png");} 
#banner .big-bg .big-banner .big-banner-img .ban-button .ban-pre{left:10px;background-position:-74px 0;}
#banner .big-bg .big-banner .big-banner-img .ban-button .ban-next{right:10px;background-position:-123px 0;}

/*big-banner-board style*/
 #banner .big-bg .big-banner .big-banner-board{width:220px;height:260px;position:absolute;top:20px;right:0;
          background: rgba(0,0,0,0.4); /*opacity:0.8;filter:alpha(opacity=80);*/
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);}
#banner .big-bg .big-banner .big-banner-board ul{list-style-type:square;padding:0 0 0 15px ;margin-left:20px;font-size:14px;}
#banner .big-bg .big-banner .big-banner-board ul li{padding:13px 0 1px;color:white;}
#banner .big-bg .big-banner .big-banner-board a{color:white;text-decoration:none;
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);}
#banner .big-bg .big-banner .big-banner-board div{color:white;position:relative;
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);}
#banner .big-bg .big-banner .big-banner-board ul li a:hover{text-decoration:underline;}
#banner .big-bg .big-banner .big-banner-board .button{width:110px;height:110px;text-align:center;
                display:inline-block;margin-top:14px;float:left;
                background:rgba(0,0,0,0.2);/*opacity:0.8;filter:alpha(opacity=80);*/
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);}
#banner .big-bg .big-banner .big-banner-board .button:hover{ background:rgba(0,0,0,0.3);/*opacity:0.7;filter:alpha(opacity=70);*/
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);}
#banner .big-bg .big-banner .big-banner-board .button i{display:inline-block;width:44px;height:44px;            
                margin-top:10px;margin-right:2px;}
#banner .big-bg .big-banner .big-banner-board .button .download{background:url("../images/button.png");
                background-position:-123px -73px;}
#banner .big-bg .big-banner .big-banner-board .button i + p{font-size:16px;margin-top:3px;margin-bottom:2px}
#banner .big-bg .big-banner .big-banner-board .button .weixin{background:url("../images/button.png");
                background-position:-172px -73px;}
#banner .big-bg .big-banner .big-banner-board #board-qr img{position:absolute;top:-7px;left:-112px;display:none;}



/*course-actives style*/
.course-actives{width:980px;height:125px;margin:0 auto;border-right:1px solid #eaeaea;border-bottom:1px solid #eaeaea;
                padding-left:220px;}
.course-actives a{display:inline-block;margin-left: 0px; margin-right: -4px;}


