/*小米官网css样式*/

body{margin: 0;font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;}
ul,h3,p,input,form,dl,dt,dd,ol{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;color: #333;display: inline-block;}
i,em{display: inline-block;}
img{border:none;vertical-align: top;/*清除图片的间隙*/}
input{border:none;outline: none;background: #fff;}
.fl{float: left;}
.fr{float: right;}
.clear{zoom:1;}
.clear::after{content: "";display: block;clear: both;}

@font-face {font-family: 'iconfont';
    src: url('iconfont/iconfont.eot'); /* IE9*/
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*顶部样式开始*/
#topbar{width: 100%;height: 40px;background:  #333333;line-height:40px;}
.contain{width: 1240px;margin: 0 auto;}
#topbar a{color:  #B0B0B0;font-size: 12px;}
#topbar a:hover{color:#fff;}
#topbar span{margin: 0 10px;color: #938C93;}
#topbar .topbar-car{width:120px;height:40px;position:relative;margin-left:15px;background: #424242;}
#topbar .topbar-car a{height: 40px;line-height: 40px;display: block;text-align: center;}
#topbar .topbar-car .iconfont{margin-right: 5px;}
#topbar .topbar-car p{width: 316px;height: 100px;display: none;line-height: 100px;text-align: center;
                    box-shadow:0 0 4px #ccc;position: absolute;top:40px;right: 0;z-index: 20;background: #fff;}
#topbar .topbar-car:hover p{display: block;} 
#topbar .topbar-car:hover{background: #fff;}
#topbar .topbar-car a:hover{color: #f00;}


/*顶部样式结束*/

/*头部样式开始*/
#header{padding-top: 22px;height:78px;position: relative;}
#header .mi-logo{background: url("../images/site-logo.png") no-repeat;width: 55px;height: 55px;}
#header .mi-logo a{width: 55px;height: 55px;display: inline-block;}


#header .header-form{width: 296px;position: relative;height: 50px;z-index:5;}        
#header .header-form .txt{width:223px;height:48px;padding:0 10px;line-height: 48px;border:1px solid #DFDFDF;}
#header .header-form .btn{width: 52px;height:50px;border:1px solid #DFDFDF;position: absolute;right:1px;
                    cursor: pointer;transition:all 0.3s ease 0s;}
#header .header-form:hover .btn{background: orange;color:#fff;border-color:orange;}    
#header .header-form p{position: absolute;right:55px;top:14px;}    
#header .header-form p a{padding: 1px 3px;background: #F3F3F3;margin-right: 5px;display: inline-block;}            
#header .header-form p a:hover{background: #d9d9d9;}
#header .header-form .txt:hover{border-color: #bbb;}


#header .header-nav ul{width: 700px;height: 55px;}
#header .header-nav ul li{float: left;}
#header .header-nav ul li a{padding: 5px 15px;height: 55px;line-height: 55px;font-size: 16px;}
#header .header-nav ul li a:hover{color:#f00;}

#header .details{position: absolute;top:100px;overflow:hidden;height:0;z-index:30;background: #fff;width: 100%;}
#header .details li{position: absolute;display:none;width: 100%;box-shadow: 0 0 3px #ccc;padding-left:75px;}

#header .details dl{float: left;width: 160px;/*height:110px;去掉*/text-align: center;padding:20px 30px 5px 10px;}
#header .details dt{width: 160px;height: 110px;border-right: 1px solid #ccc;padding-right:20px;padding-bottom:10px;} 
#header .details dt.noborder{border: 0;}
#header .details dd{margin:0px auto;}

#header .datalist{width:242px;border:1px solid #DFDFDF;position: absolute;top:49px;display: none;}
#header .datalist p.searchcon{position: static;}
#header .datalist p.searchcon a{display: block;background: #fff;height: 26px;line-height: 26px;padding:0 10px;width: 222px;}
#header .datalist p.searchcon a span{float: right;}
#header .datalist p.searchcon a:hover{background: #d9d9d9;}



/*banner图片开始*/
#banner{height: 460px;position: relative;}
#banner .banner-aside{width: 234px;height: 460px;position: absolute;background: rgba(0,0,0,0.6);z-index: 3;}
#banner .banner-aside .aside-txt{width: 234px;height: 420px;padding-top: 20px;}
#banner .banner-aside .aside-txt .topic{width: 234px;}
#banner .banner-aside .aside-txt .topic>a{padding-left: 30px;display: block;height: 42px;line-height: 42px;
                                        color: #fff;position: relative;}
#banner .banner-aside .aside-txt .topic>a i.iconfont{position: absolute;top: 12px;right: 30px;font-size: 16px;
            height: 16px;line-height: 16px;}
#banner .banner-aside .aside-txt .topic:hover >a{background: orange;}            


#banner .banner-aside .aside-txt .topic .children-list {width: 530px;height: 460px;background: #fff;box-shadow: 0 0 3px #ccc;
            position: absolute;top: 0;left: 234px;display: none;}  
#banner .banner-aside .aside-txt .topic .minWidth{width: 265px;}
#banner .children-list ul{width: 265px;height: 460px;float: left;}  

#banner .children-list .link-img {width: 180px;
        display: block;padding: 18px 0px 18px 20px; float: left;} 
#banner .children-list .link-img:hover{color: #F25807;}        
#banner .children-list .link-img img{margin-right: 10px;}        
#banner .children-list .link-img span{line-height: 40px;height: 40px;}   
#banner .children-list .sel-buy {width: 58px;height: 22px;line-height: 22px;float: right;background: #fff;
            border:1px solid #F25807;text-align: center;margin-top: 26px;color: #F25807;
            transition:all 0.3s ease 0s;} 
#banner .children-list .sel-buy:hover{color: #fff;background: #F25807;}  

#banner .banner-wrap,#banner .banner-wrap .banner-wrap-pic{position: absolute;z-index: 2;
    width: 1226px;height: 460px;overflow: hidden;} 
#banner .banner-wrap .banner-wrap-pic li{position: absolute;display: none;}    
#banner .banner-wrap .btnLeft,#banner .banner-wrap .btnRight{position: absolute;top: 50%;z-index: 99;display: none;
    background: url("../images/arrow.png") no-repeat;width: 41px;height: 69px;margin-top: -35px;}
#banner .banner-wrap .btnLeft{ left: 234px; background-position: -83px 0;} 
#banner .banner-wrap .btnRight{right: 0px;background-position: right 0;}  
#banner .banner-wrap .btnLeft:hover{background-position:0 0;} 
#banner .banner-wrap .btnRight:hover{background-position:-42px 0;} 
#banner .banner-wrap ol{position: absolute;right: 30px;bottom: 30px;z-index: 99;}
#banner .banner-wrap ol li{width: 6px;height: 6px;border: 2px solid rgba(255,255,255,0.4);
    float: left;margin: 0 5px;background: rgba(0,0,0,0.3);border-radius: 5px;transition:all 0.3 ease 0s;}
#banner .banner-wrap ol li:hover,#banner .banner-wrap ol li.active{border: 2px solid rgba(0,0,0,0.3);
                    background: rgba(255,255,255,0.3);}    
